

# Oh My Posh Configuration
#

# TODO: since I moved my .zshrc here I am wondering whether I should keep ohmyposh.zsh.sh or fully integrate it here

OHMYPOSH_CONFIG=$HOME/Workspace/gh--dragoscirjan/configs/shell/ohmyposh.zsh.sh
[ -f $OHMYPOSH_CONFIG ] && source $OHMYPOSH_CONFIG

# User configuration

# export MANPATH="/usr/local/man:$MANPATH"

# You may need to manually set your language environment
# export LANG=en_US.UTF-8

# Preferred editor for local and remote sessions
# if [[ -n $SSH_CONNECTION ]]; then
#   export EDITOR='vim'
# else
#   export EDITOR='nvim'
# fi

# Compilation flags
# export ARCHFLAGS="-arch $(uname -m)"

# Set personal aliases, overriding those provided by Oh My Zsh libs,
# plugins, and themes. Aliases can be placed here, though Oh My Zsh
# users are encouraged to define aliases within a top-level file in
# the $ZSH_CUSTOM folder, with .zsh extension. Examples:
# - $ZSH_CUSTOM/aliases.zsh
# - $ZSH_CUSTOM/macos.zsh
# For a full list of active aliases, run `alias`.
#
# Example aliases
# alias zshconfig="mate ~/.zshrc"
# alias ohmyzsh="mate ~/.oh-my-zsh"

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

NODE_VERSION="lts/jod"

# Check if nvm is loaded
if command -v nvm > /dev/null 2>&1; then
  # Check if Node.js is installed and matches the desired version
  INSTALLED_VERSION=$(nvm version $NODE_VERSION)
  if [ "$INSTALLED_VERSION" = "N/A" ]; then
    echo "Node.js $NODE_VERSION not found. Installing..."
    nvm install $NODE_VERSION
  fi
  echo "Using Node.js $NODE_VERSION"
  nvm use $NODE_VERSION
else
  echo "nvm is not installed or not properly loaded. Please ensure nvm is installed and accessible."
fi

export PATH="/opt/homebrew/opt/openjdk/bin:$PATH"
export CPPFLAGS="-I/opt/homebrew/opt/openjdk/include"

# bun completions
[ -s "/Users/dragosc/.bun/_bun" ] && source "/Users/dragosc/.bun/_bun"

# bun
export BUN_INSTALL="$HOME/.bun"
export PATH="$BUN_INSTALL/bin:$PATH"
