# Visuals

font-family = "SauceCodePro Nerd Font"
font-size = 16
background-opacity = 0.9


# Tab Navigation
keybind = cmd+right=next_tab
keybind = cmd+left=previous_tab

# Split Panel
super+d = new_split:right
super+shift+d = new_split:down
super+alt+left = goto_split:left
super+alt+right = goto_split:right
super+alt+down = goto_split:bottom
super+alt+up = goto_split:top
