#
# Visuals
#
font-family = "SauceCodePro Nerd Font"
font-size = 16
background-opacity = 0.9

#
# Shell Configuration
#
# Default shell (uncomment and modify as needed)
# command = zsh -l
# command = fish -l
# command = bash -l

#
# Tab Navigation
#
keybind = super+right=next_tab
keybind = super+left=previous_tab

#
# Direct tab access (1-9)
#
keybind = super+1=goto_tab:1
keybind = super+2=goto_tab:2
keybind = super+3=goto_tab:3
keybind = super+4=goto_tab:4
keybind = super+5=goto_tab:5
keybind = super+6=goto_tab:6
keybind = super+7=goto_tab:7
keybind = super+8=goto_tab:8
keybind = super+9=goto_tab:9

#
# Tab management
#
# TODO: this is not supported
# keybind = super+shift+r=rename_tab

#
# Shell launchers (new tab with different shells)
#
# keybind = super+shift+z=new_tab:zsh,-l
# keybind = super+shift+f=new_tab:fish,-l
# keybind = super+shift+b=new_tab:bash,-l

#
# Split Panel
#
keybind = super+d=new_split:right
keybind = super+shift+d=new_split:down
keybind = super+alt+left=goto_split:left
keybind = super+alt+right=goto_split:right
keybind = super+alt+down=goto_split:bottom
keybind = super+alt+up=goto_split:top

# Beginning and End of line navigation
# TODO: this suggestion does not work
# keybind = home=send_text:\x01  # Ctrl+A (beginning of line)
# keybind = end=send_text:\x05   # Ctrl+E (end of line)
